<!DOCTYPE html>
<html lang="en" ng-app="GroceryApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/../libs/angular/angular.min.js"></script>
    <script src="/../libs/angular-ui-router/release/angular-ui-router.js"></script>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="index.css">


    <title>ASSESSMENT02</title>
</head>

<body ng-controller="MainCtrl as mainCtrl">

    <div class="row">
        <div class="col-sm-7 col-lg-10 col-lg-offset-1">

            <div class="jumbotron">
                <div class="container">
                    <h1>Grocery Co.</h1>
                </div>
            </div>
        </div>

    </div>



    <div class="row">
        <div class="col-sm-7 col-lg-3 col-lg-offset-1">


            <form name="productform" novalidate ng-submit="mainCtrl.Psearch()">

                <div class="form-group">

                    <label for="productname">Product Name Search:</label>

                    <div class="input-group">

                        <input id="productname" class="form-control" type="text" name="productname" ng-model="mainCtrl.searchProduct">

                        <span class="input-group-btn">
						<button class="btn btn-success" type="submit"
								ng-disabled="productform.$invalid">
							Search
						</button>
					</span>

                    </div>
                </div>
            </form>
            </br>

            <form name="brandform" novalidate ng-submit="mainCtrl.Bsearch()">

                <div class="form-group">

                    <label for="brandname">Brand Name Search:</label>

                    <div class="input-group">

                        <input id="brandname" class="form-control" type="text" name="brandname" ng-model="mainCtrl.searchBrand">

                        <span class="input-group-btn">
						<button class="btn btn-success" type="submit"
								ng-disabled="brandform.$invalid">
							Search
						</button>
					</span>

                    </div>
                </div>
            </form>
            </br>






        </div>









        <div class="col-sm-7 col-lg-7">
            <br>
            <button class="btn btn-default" ng-click="mainCtrl.new()" type="submit">ADD NEW PRODUCT </button>

            <!--<h3>Details:</h3>-->
            <div ui-view>

            </div>

        </div>


    </div>




</body>


<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="app/app.module.js/app.module.js"></script>-->
<!--<script src="app/app.controller.js/app.controller.js"></script>-->
<script src="app/app.js"></script>

</html>