
<div class="row">
	<div class="col-md-12">
		<h2>Searching for {{brandCtrl.brandname}}</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table">
			<thead>
				<tr>
                    <th></th>
                    <th>id</th>
					<th> Product Name</th>
					<th> Brand </th>
					<th> UPC</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="detail in brandCtrl.getBrand">
                    <td><button class="btn btn-default" ng-click="brandCtrl.edit($index)"  type="submit">Edit </button></td>
                    <td>{{detail.id}}</td>
					<td>{{ detail.name }}</td>
					<td>{{ detail.brand }}</td>
					<td><img ng-src="http://www.barcodes4.me/barcode/c128a/{{ detail.upc12 }}.png?IsTextDrawn=1"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>