
<form ng-submit="newCtrl.add()">
    <div class="form-group">
        <label for="productname">Product Name</label>
        <input type="text" name="productname" id="productname" class="form-control" value="" ng-model="newCtrl.productname">
    </div>

    <div class="form-group">
        <label for="brandname">Brand</label>
        <input type="text" name="brandname" id="brandname" class="form-control" value="" ng-model="newCtrl.brandname">
    </div>

    <div class="form-group">
        <label for="upc">UPC</label>
        <input type="text" name="upc" id="upc" class="form-control" value="" ng-model="newCtrl.upc">
    </div>

    <div class="form-group">
        <button class="btn btn-success form-control" type="submit" >Save</button>
    </div>

    <div ng-show="newCtrl.showStatus">
        <h3>This entry has been added successfully.</h3>
                    </div>

</form>

        <button class="btn btn-success form-control" type="submit" ng-click="newCtrl.cx()">Back</button>
